/* Personalizar o título */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Playfair Display', serif;
}

body{
    margin: 0;
    text-align: center;
    background-image: url(https://bit.ly/3wNtkhw);
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    /* tamanho da img */
    background-size: 70rem;
    background-color: #000000;
    color: white;
    -webkit-background-size: cover;
}

#cabecalho{
    height: 5vh;
    background-color:gray;
    font-size: 0.8rem;
}

#conteudo {
    height: 11vh;
    margin: auto;
}


#rodape {
    height: 13vh;
    background-color: white;
}


.icones{
    height: 4rem;
    border: 5px;
    margin: 15px;
    padding-top:10px;

}